/* General Styles */
body {
    font-family: 'Clash Display', sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    margin: 0;
    padding: 0 10%;
}

h1, h2, .section-title {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2, .section-title {
    font-size: 3rem;
    margin: 1rem 0;
}

p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

/* Button Styles */
.btn {
    padding: 10px 20px;
    font-family: 'General Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login {
    background: none;
    color: #808080;
}

.btn-login:hover, .btn-primary:hover {
    color: #FFFFFF;
}

.btn-primary {
    background-color: #ffc107;
    color: #000000;
    display: block; /* Adjusted for full width */
    width: 100%; /* Adjusted for full width */
    box-sizing: border-box; /* Adjusted for full width */
}

/* Header Styles */
header {
    padding: 1rem 10%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main Content Styles */
main {
    padding: 2% 10%;
}

.intro-section, .lucky-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.intro-content, .lucky-content, .intro-media, .lucky-media {
    width: 48%;
}

.lucky-content {
    text-align: left; /* Adjusted for left alignment */
}

.responsive-img {
    max-width: 100%;
    height: auto;
}
