body {
    font-family: 'Clash Display', sans-serif;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    margin: 0;
    padding: 1% 10%;
}

h1, h2, .section-title, p, .btn {
    margin: 0 0 20px;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2, .section-title {
    font-size: 3rem;
    font-weight: bold;
}

p {
    font-size: 1.25rem;
}

.btn {
    padding: 10px 20px;
    font-family: 'General Sans', sans-serif;
    font-size: 1.25rem;
    text-align: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login, .btn-submit {
    background: none;
    color: #808080;
}

.btn-submit {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 30px;
    font-size: 1.25rem;
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin-top: 10px;
}

.btn-primary {
    background-color: #ffc107;
    color: #000000;
    display: block;
    width: 50%;
    margin: 20px auto;
    box-sizing: border-box;
}

header {
    padding: 1rem 10%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 2% 10%;
}

.intro-section, .lucky-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.intro-content, .lucky-content, .intro-media, .lucky-media {
    width: 48%;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #000;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 25%;
    box-shadow: 0 0 80px rgba(255, 193, 7, 0.35);
    animation-fill-mode: forwards;
}

.form-group {
    margin: 20px auto;
    text-align: left;
}

.form-group input[type="text"],
.form-group select {
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #222;
    color: #fff;
    border-radius: 4px;
    border: none;
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

.radio-group {
    margin: 20px auto;
    text-align: left;
}

.radio-label {
    flex-grow: 1;
    text-align: center;
    margin: 0 5px;
    padding: 10px 0;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.switch-field {
    font-size: 1.25rem;
    display: flex;
    width: 100%;
    margin: auto;
    max-width: 500px;
}

.switch-field label {
    display: inline-block;
    background-color: #222;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #ffc107;
    color: #000;
}

select {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #222;
    color: #fff;
    cursor: pointer;
}

select:focus {
    outline: none;
    border-color: #ffc107;
}

option {
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.modal-content {
    color: #fff;
    width: 90%;
    max-width: 500px;
}

.form-group label {
    color: #808080;
}

.modal-show-background {
    /* Example properties for the background animation */
    animation: fadeInBackground 0.4s forwards;
}

.modal-show {
    /* Example properties for the modal showing animation */
    animation: slideIn 0.4s forwards;
}

.modal-hide-background {
    /* Example properties for the background hiding animation */
    animation: fadeOutBackground 0.4s forwards;
}

.modal-hide {
    /* Example properties for the modal hiding animation */
    animation: slideOut 0.4s forwards;
}

@keyframes fadeInBackground {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOutBackground {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes slideIn {
    from { transform: translateY(15%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideOut {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(15%); opacity: 0; }
}

#fourthForm {
    text-align: center;
    font-size: 0; /* Removes whitespace between inline-block elements */
}

#dayLabels span,
.date-radio {
    display: inline-block;
    width: 20%;
    font-size: 1rem; /* Reset the font size within the element */
    text-align: center;
}

#dayLabels span {
    color: gray;
}

.date-radio input[type="radio"] {
    opacity: 0;
    position: absolute;
}

.date-radio span {
    display: block;
    padding: 5px;
    font-size: 1.25rem;
    cursor: pointer;
}

.date-radio input[type="radio"]:checked + span {
    color: #ffc107;
}

