<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://api.fontshare.com/v2/css?f%5B%5D=clash-display@1&f%5B%5D=general-sans@1&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/9ed0b8c48d.js" crossorigin="anonymous"></script>
    <title>kaif.</title>
</head>
<body>
<header>
    <div class="header-container">
        <h1>kaif.</h1>
        <button class="btn btn-login">Login via Google</button>
    </div>
</header>
<main>
    <section class="intro-section">
        <article class="intro-content">
            <h2>Ein Vape ohne Geld?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
        </article>
        <figure class="intro-media">
            <img src="../static/images/vape.png" alt="" class="responsive-img">
        </figure>
    </section>
    <section class="lucky-section">
        <figure class="lucky-media">
            <img src="../static/images/lucky_block.png" alt="" class="responsive-img">
        </figure>
        <article class="lucky-content">
            <h2 class="section-title">Feeling lucky today?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            <button class="btn btn-primary">Get it!</button>
        </article>
    </section>
    <div id="modal" class="modal" style="display: none;">
        <div class="modal-content">
            <h2>Gewinn abholen</h2>
            <form>
                <div class="form-group">
                    <label for="recipient-name">Empfängername</label>
                    <input type="text" id="recipient-name" name="recipient-name">
                </div>
                <div class="form-group">
                    <label for="meeting-location">Treffpunkt</label>
                    <select id="meeting-location" name="meeting-location">
                        <option value="location1">Schulhof</option>
                        <option value="location2">vor der Schule</option>
                    </select>
                </div>
                <div class="form-group radio-group">
                    <label>Abholzeit</label>
                    <div class="switch-field">
                        <input type="radio" id="switch_left" name="switch_time" value="pause1" checked/>
                        <label for="switch_left" class="radio-label">1. Pause</label>
                        <input type="radio" id="switch_right" name="switch_time" value="pause2"/>
                        <label for="switch_right" class="radio-label">2. Pause</label>
                    </div>
                </div>
                <div id="fourthForm">
                    <div id="dayLabels">
                        <span>Mo</span>
                        <span>Di</span>
                        <span>Mi</span>
                        <span>Do</span>
                        <span>Fr</span>
                    </div>
                    <div id="dateSelection">
                        <!-- Date radio buttons will be generated by JavaScript -->
                    </div>
                </div>
                <button type="submit" class="btn btn-submit">Einreichen</button>
            </form>
        </div>
    </div>

</main>
<script src="../static/js/script.js"></script>
</body>
</html>
